.projectDetails{
    height: 130px !important
}
.orderForm input {
    height: 50px;
}
.form-control {
    border: 3px solid #F7F7F7;
}
.reviewForm input{
    height: 50px;
}
.custom-upload input[type="file"] {
    margin-left: 5px;
    padding-top: 10px;
    font-size: 14px;
    text-align: right;
}
.custom-upload {
    display: block;
    cursor: pointer;
    background-color: #DEFFED;
    font-weight: 500 !important;
    border: 1px solid #009444;
    border-radius: 5px;
    color: #009444;
    position: relative;
    min-height: 50px;
    text-align: center;
}
.btnFile{
    position: absolute;
    left: 0px;
    background: #DEFFED;
    font-size: 18px;
    bottom: 14px;
    padding: 0 5px;
    color: #009444;
}